apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: demo-nginx
  namespace: demo
  labels:
    app: demo-nginx
spec:
  selector:
    matchLabels:
      app: demo-nginx
  replicas: 1
  template:
    metadata:
      labels:
        app: demo-nginx
    spec:
      containers:
      - name: demo-nginx
        image: k8s.gcr.io/nginx:1.7.9
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
