apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-nginx
  namespace: demo
spec:
  selector:
    matchLabels:
      run: demo-nginx
  replicas: 1
  template:
    metadata:
      labels:
        run: demo-nginx
    spec:
      containers:
      - name: demo-nginx
        image: k8s.gcr.io/nginx:1.7.9
        ports:
        - containerPort: 80
